*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.hero{
    width:100%;
    height:100vh;
    background:#edf2fc;
    background-image: url(image1.jpg);
    font-family: "poppins",sans-serif;
    position: relative;
}
nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
    cursor: pointer;
}
nav ul li{
    display:inline-block;
    list-style:none;
    margin:10px 20px;
}
nav ul li a{
    text-decoration:none;
    color:#606163;
}
nav ul li a:hover{
    color:#ff4321;
}
.btn{
    background: #d2cbca;
    border-radius: 4px;
    padding: 10px 18px;
    text-decoration: none;
    color:#5a5453;
    display: inline-block;
    border: 1px solid transparent;
    transition:all 0.4s ease;
}
.btn:hover{
    background:transparent;
    color:#ff4321;
    border: 1px solid #ff4321;
}
.info{
    margin-left: 50%;
    margin-top: 10%;
}
.info h1{
    font-size:40px;
    color:#444242;
}
.info h1 span{
    color: blue;
    text-shadow: #0389d1;
}
.info p{
    color:#606163;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 30px;
}

section {
  padding: 100px 50px;
  max-width: 1500px;
  margin: auto;
  background-image: url(image1.jpg);
  color: rgb(14, 14, 14);
  background-position: center;
}
.info a{
    text-decoration: white;
    color: #222121;
    background: rgb(107, 101, 98);
    margin: 25px 0;
    padding: 10px 16px;
    border-radius: 10px;
    display: inline-block;
    transition: .4s ease;
}
.info a:hover{
    background-color: rgb(134, 137, 138);
}

h2 {
  color: #0c0c0c;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  text-decoration-color: #761616;
  font-size: 40px;
}
.ab1{
    font-size: 20px;
}
.ab2{
    font-size: 20px;
}
.project-card {
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-size: 20px;
  color: rgb(14, 14, 14);
}

footer {
  background: #333;
  color: #0f0f0f;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}
.contact{
    text-decoration-color: black;
    color: #2d04f8;
    font-size: 20px;
}